<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="custom.css.scss">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700|PT+Sans&display=swap" rel="stylesheet">

</head>

<body>
  <div class="new-user-page">
    <div class="editleft"></div>
      <div class="editright">
        <h2>REGISTER</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "newform"}) do |f| %>
          <hr>
          <%= render "devise/shared/error_messages", resource: resource %>
        <br>

        <div class="form-group row">
          <%= f.label :firstname, "First Name", class: 'col-sm-3 col-form-label'%><br>
          <div class="col-sm-9">
          <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: 'form-control' %>
         </div>
        </div>

        <div class="form-group row">
          <%= f.label :lastname, "Last Name", class: 'col-sm-3 col-form-label' %><br />
          <div class="col-sm-9">
          <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: 'form-control' %>
        </div>
        </div>

        <div class="form-group row">
        <%= f.label :phone, "Phone Number", class: 'col-sm-3 col-form-label' %><br />
        <div class="col-sm-9">
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: 'form-control' %>
      </div>
      </div>

      <div class="form-group row">
        <%= f.label :email, class: 'col-sm-3 col-form-label' %><br />
        <div class="col-sm-9">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
      </div>

      <div class="form-group row">
        <%= f.label :password, class: 'col-sm-3 col-form-label' %><br />
        <% if @minimum_password_length %>
        <% end %>
        <div class="col-sm-9">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>
      </div>
    

      <div type="text" class="form-group row" placeholder="PASSWORD">
        <%= f.label :password_confirmation, class: 'col-sm-3 col-form-label' %><br />
        <div class="col-sm-9">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>
    </div>
    <br>    
     <div class="col-sm-3"></div>
        <div class="editsubmit">
          <%= f.submit "SIGN UP", class: 'submitedit' %>
         </div>
        <% end %>
        </div>
      </div>
  </div>

</html>