<div class="listing-index-show">
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <% if user_signed_in? %>
      <%= link_to 'Create New Listing', new_listing_path, class: "btn btn-primary"  %>
      <% else %>
      <a><%= link_to 'Log in to create a new listing', new_user_session_path, class: "btn btn-primary" %></a>
      <% end %>
    </div>
  </div>
  <div class="details">
    <% @listings.each do |listing| %>
      <div class="card mb-3 text-center" >
      <div class="card-body">
      <div class="card-image">
        <% if listing.images[0] %>
          <%= image_tag listing.images[0], :height => "150x190" %>
        <% end %>
      </div>
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.breed %></p>
      <p class="card-text">$<%= listing.price %></p>
      </div>
      <div>
        <a href="#" class="card-link"><%= link_to 'View', listing_path(listing) %></a>
        <% if user_signed_in? && listing.user_id == current_user.id %>
            ||<a href="#" class="card-link"><%= link_to 'Edit', edit_listing_path(listing) %> </a>
            ||<a href="#" class="card-link"><%= link_to 'Delete', listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %></a>
        <% end %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Listing Created: <%= time_ago_in_words(listing.created_at) %> ago
        </small>
      </div>
    </div>  
        <% end %>
  </div>
</div>


