<h1><%= @listing.name %></h1>
<h3><%= @listing.breed %></h3>
<h3><%= @listing.price %></h3>
<p><%= @listing.documentation %></p>
<p><%= @listing.description%></p>

<p><%= @listing.user.firstname %></p>
<p><%= @listing.user.email %></p>
<h1><%= @listing.user.phone %></h1>

<% (0...@listing.images.count).each do |image| %>
<div style="width:300px; height:300px;">
  <%= image_tag(@listing.thumbnail(image)) %>
  </div>
<% end %>


<%= link_to 'Back', listings_path %>
